<ion-header [translucent]="true">
  <ion-toolbar>
    <div class="header">
      <ion-buttons slot="start">
        <ion-back-button text="" icon="chevron-back-outline" class="btnBack" defaultHref="/publications"></ion-back-button>
      </ion-buttons>
      <ion-title>{{publication.title}}</ion-title>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="center">
    <div class="container">
      <ion-card>
        <ion-chip [routerLink]="['/users',publisher.id]">
          <ion-avatar>
            <img alt="{{publisher.name}}" src="assets/img/profiles/{{publisher.username}}.jpg" />
          </ion-avatar>
          <ion-label>{{publisher.name}}</ion-label>
          <p>{{publisher.username}}</p>
        </ion-chip>
        <img alt="{{publication.title}}" src={{publication.photo}} />
        <ion-card-header>
          <ion-card-title class="title">Comentarios</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <ion-list lines="full">
            <div class="noComments" *ngIf="comments.length === 0">
              No hay comentarios aún <br> ¡Se el primero en comentar!
            </div>
            <ion-item *ngFor="let comment of comments; let i=index" text-wrap>
              <ion-label>
                <ion-chip [routerLink]="['/users',users[i].id]">
                  <ion-avatar>
                    <img alt="{{users[i].name}}" src="assets/img/profiles/{{users[i].username}}.jpg" />
                  </ion-avatar>
                  <ion-label>{{users[i].name}}</ion-label>
                </ion-chip>
                <br>
                {{comment.content}}
              </ion-label>
            </ion-item>
          </ion-list>
        </ion-card-content>
      </ion-card>
    </div>
  </div>
</ion-content>

<div class="commentBox">
  <ion-card>
    <ion-item>
      <form (ngSubmit)="sendComment(commentInput)">
        <ion-input aria-label="Comment" placeholder="Publica un comentario" #commentInput></ion-input>
        <ion-button type="submit" class="btnSend">
          <ion-icon slot="icon-only" name="send"></ion-icon>
        </ion-button>
      </form>
    </ion-item>
  </ion-card>
</div>