ion-list {
    background-color: #131313;
    margin-bottom: 3rem;
}
ion-item {
    color: #EAEAEA;
    --background: #131313;
}
ion-item>ion-label {
    text-align: justify;
    white-space: initial;
    margin: 0.4rem 0 0.4rem 0;
}
ion-card>ion-chip {
    margin-left: 1rem;
}
.commentBox {
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 0;
    z-index: 1000;
    width: 100%;
}

.commentBox>ion-card {
    width: 90%;
    box-shadow: 0 0 15px black;
}

.btnSend {
    --background: #C8B6FF;
    box-shadow: 0 0 10px #C8B6FF;
}