* {
  color: #e2eafc;
}
.background {
  background: url(../../assets/img/background.jpg) no-repeat 100% 100%;
  height: 100%;
  filter: blur(2px);
  -webkit-filter: blur(2px);
}
.container {
  position: absolute;
  top: 0;
}
ion-button {
  margin-bottom: 1rem;
  text-transform: initial;
  font-weight: bold;
  transition: 0.5s ease;
}
ion-button:hover {
  --background: #bbd0ff;
  color: #2d2d30;
}
.btnUser{
  --background: #c8b6ff;
}
.btnPubs{
  --background: #b8c0ff;
}