<ion-content [fullscreen]="true">
  <div class="background"></div>
  <div class="flex-center container">
    <ion-card>
      <ion-card-header>
        <ion-card-subtitle>La red de los viajeros</ion-card-subtitle>
        <ion-card-title class="logo">TravelConnect</ion-card-title>
      </ion-card-header>
    
      <ion-card-content>
        Nos dedicamos a facilitar la interacción y colaboración entre viajeros que comparten destinos similares o están interesados en experiencias similares durante sus viajes.
      </ion-card-content>
      
      <div class="flex-center">
        <ion-button shape="round" fill="solid" class="btnPubs" routerLink="/publications">Ver Publicaciones</ion-button>
      </div>
      <div class="flex-center">
        <ion-button shape="round" fill="solid" class="btnUser">Ver Usuarios</ion-button>
      </div>
    </ion-card>
  </div>
</ion-content>
