<ion-content [fullscreen]="true">
  <div class="background"></div>
  <div class="flex-center containerHome">
    <ion-card>
      <ion-card-header>
        <ion-card-subtitle>La red de los viajeros</ion-card-subtitle>
        <ion-card-title class="logo">TravelConnect</ion-card-title>
      </ion-card-header>

      <div class="imgContainer">
        <img alt="logo" src="assets/img/icon.png" />
      </div>
    
      <ion-card-content>
        Nos dedicamos a facilitar la interacción y colaboración entre viajeros que comparten destinos similares o están interesados en experiencias similares durante sus viajes.
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
